* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 1));
    color: #fff;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}


/* ===== Mobile ===== */
@media (max-width: 768px) {
    body {
        padding: 0;
        margin: 0;
        width: 100vw;
    }
}
