* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-page {
    width: 100%;
    padding: 20px 10px;
    margin-bottom: 5%;
}

h1 {
    font-size: 2.5em;
    color: gold;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin:auto;
    box-shadow: 0 6px 30px rgba(255, 215, 0, 0.5);
    width: 100%;
    max-width: 700px;
}


label, p {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 15px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="message"],
input[type="date"],
input[type="time"],
textarea,
select {
    width: 100%;
    font-size: 1.1em;
    padding: 10px;
    margin-top: 8px;
    border-radius: 5px;
    border: 2px solid #555;
    background-color: #333;
    color: white;
}

input[type="radio"],
input[type="checkbox"] {
    transform: scale(1.3);
    margin-right: 8px;
}

#submit {
    width: 100%;
    margin-top: 20px;
    padding: 14px;
    font-size: 1.3em;
    font-weight: 650;
    background-color: gold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

#submit:hover {
    transform: scale(1.05);
}


@media (max-width: 768px) {

    h1 {
        font-size: 2em;
    }

    label, p {
        font-size: 1.1em;
    }

    input,
    textarea,
    select {
        font-size: 1em;
    }
}


@media (max-width: 480px) {

    h1 {
        font-size: 1.7em;
    }

    form {
        padding: 15px;
    }

    #submit {
        font-size: 1.2em;
    }
}
