footer {
    color: #aaa;
    width: 96vw;
    border-radius: 10px;
    box-shadow: -1px -2px 10px rgba(255, 215, 0, 0.5);
}

footer ul {
    list-style: none;
    padding: 30px 20px;
}

footer li {
    margin-bottom: 10px;
    font-size: 14px;
}

footer a {
    color: #aaa;
}

footer p {
    font-size: 0.9em;
    text-align: center;
}

.links {
    display: flex;
    justify-content: space-around;
}

.links img {
    height: 70px;
    width: 70px;
}

.links i{
    margin: 20px 20px 0px 0px;
}

/* MOBILE FOOTER */
@media (max-width: 768px) {
    footer {
        width: 90%;
    }

    .links {
        flex-direction: column;
        align-items: center;
    }
}