header {
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: rgba(0, 0, 0, 0.8);
}

.logo-img {
    margin-left: 2.5vh;
}

.logo-img img {
    height: 10vh;
    width: 12vh;
    object-fit: contain;
}

.logo {
    font-size: 3em;
    font-weight: 700;
    color: gold;
    text-align: center;
    margin-left: 15vw;
}

.navbar {
    width: 20vw;
    height: 60%;
    top: 0;
    right: 0;
    font-weight: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    z-index: 1;
    transform-origin: top;
    transition: transform 1s ease;
}
.navbar a {
    margin: 0 15px;
    color: white;
    font-size: 1.5em;
    position: static;
    text-decoration: none;
}
.navbar a:hover {
    color: gold;
    transform: scale(1.25);
    transition: all 0.3s ease;
}

.menu-icon,
.menu-toggle {
    visibility: hidden;
    position: absolute;
}

/* MOBILE HEADER */
@media (max-width: 768px) {
    header {
        height: 70px;
        width:100vw;
        justify-content:left;
    }

    .logo {
        font-size: 2em;
        margin-left: 15vw;
    }

    .logo-img img {
        height: 50px;
        width: 50px;
    }

    .logo-img {
        margin-left: 1vh;
    }

    .menu-icon {
        visibility: visible;
        right: 15px;
    }

    .menu-toggle {
        visibility: visible;
        right: 15px;
        z-index: -1;
    }

    .navbar {
        position: absolute;
        top: 18vh;
        right:3vh;
        z-index:3;
        height: 0px;
        width: 0px;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.95);
        display: none;
    }
    .navbar a {
        margin: 5px 0;
        font-size: 1.2em;
        color: white;
        background-color: #111;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-toggle:checked + .menu-icon + .navbar {
        display: flex;
    }
}
