.heading-section {
    width: 90vw;
    height: auto;
    padding: 4%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
}

.background {
    position: absolute;
    width:100vw;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.subscription {
    z-index: 2;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 2px;
}

.subscription button {
    background-color: #ffd700;
    border: none;
    margin: 2vh;
    padding: 12px 24px;
    font-size: 1.2em;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.subscription button:hover {
    transform: scale(1.1);
}

.sub-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.movie {
    width: 200px;
    height: 300px;
    background-color: black;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
}

.movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

.movie:hover {
    transform: translateY(-25px);
    box-shadow: 0 4px 20px rgba(255, 215, 0, 0.5);
}

.movie-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
}

/* ===== Mobile ===== */
@media (max-width: 768px) {
    .subscription {
        font-size: 1rem;
    }

    .sub-section {
        display: block;
    }

    .movie {
        width: auto;
        margin: 20px 0;
    }

    .movie img {
        width: 50vw;
    }
}
