/* SEARCH SECTION */
.search-body {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

.tagline {
    margin-bottom: 15px;
}

.search-section input {
    width: 45%;
    padding: 12px 20px;
    border-radius: 30px;
    border: none;
    font-size: 1.1rem;
}

.category-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 15px;
    padding: 50px;
    width: 100%;
    margin-left:10px;
}

.category {
    background: linear-gradient(45deg, #000, #222);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.category:hover {
    box-shadow: 0 4px 12px rgba(255, 215, 0, 0.5);
}

.sub-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
    flex-wrap: wrap;
}

.movie {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.7);
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .search-section input {
        width: 85%;
    }

    .category-section {
        grid-template-columns: repeat(2, 1fr);
        padding: 15px;
    }

    .category {
        padding: 15px;
        font-size: 0.9rem;
    }

    .movie {
        width: 80%;
        height: 260px;
    }
}
