* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 1));
    color: #fff;
    width: 97.9vw;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: rgba(0, 0, 0, 0.8);
}
.logo-img {
    position: relative;
    margin-left: 2.5vh;
}
.logo-img img {
    height: 10vh;
    width: 12vh;
    object-fit: contain;
}
.logo {
    font-size: 3em;
    font-weight: 700;
    color: gold;
    text-align: center;
    margin-left: 15vw;
    transition: text-shadow 0.3s ease;
}
.navbar {
    width: 20vw;
    height: 60%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    z-index: 1;
    transform-origin: top;
    transition: transform 1s ease;
}
.navbar a {
    margin: 0 15px;
    color: white;
    font-size: 1.5em;
    position: static;
    text-decoration: none;
}
.navbar a:hover {
    color: gold;
    transform: scale(1.25);
    transition: all 0.3s ease;
}
.menu-icon{
    visibility: hidden;
    position: absolute;
    right: -50px;
}
.menu-toggle{
    visibility: hidden;
    position: absolute;
    right: -50px;
}

.heading-section {
    width: 100vw;
    margin-top:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
}
.background {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.slider-section {
    width: 80vw;
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    flex-direction: column;
}  
.slider {
    width: 100%;
    position: relative;
    z-index: 1;
}
  
.slider img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    max-height: 80vh;
    object-fit: cover;
}
  
.text-container {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: 0;
}
  
.slider-section:hover .slider {
    z-index: 0;
}
  
.slider-section:hover .text-container {
    left: 0;
    opacity: 1;
}
  
.slider-movie {
    position: absolute;
    bottom: 0;
    padding: 5vw;
    width: 60%;
    color: white;
}
  
.slider-movie h2 {
    font-size: 2em;
}
  
#release {
    color: rgb(60, 60, 245);
    font-weight: 600;
}
  
#watch {
    width: 180px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gold;
    margin-top: 15px;
}
  
#watch a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}
  
.slider-movie p {
    font-size: 1em;
    line-height: 1.4;
    margin: 15px 0;
}
.slider-section:hover .slider {
    z-index: 0;
}
.slider-section:hover .text-container {
    left: 0;
    opacity: 1;
}
.sub-section{
    padding: 18px;
}
.sub-section h3{
    font-size: 1.8em;
    font-weight: 600;
    margin: 0 0 10px 20px;
}
#sports {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 0 auto 45px auto;
}  
#sports img {
    height: 200px;
    width: 270px;
    border-radius: 10px;
    transition: transform 0.3s ease;
} 
#sports img:hover {
    transform: translateY(-15px);
    box-shadow: 0 4px 12px rgba(255, 215, 0, 0.5);
}
.thumbnail {
    width: 96vw;
    height: auto;
    padding: 10px 0px;
    margin: 0 0 45px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(255, 215, 0, 0.5);
}  
.thumbnail img {
    width: 220px;
    height: 290px;
    border-radius: 10px;
    transition: transform 0.3s ease;
} 
.thumbnail img:hover {
    transform: translateY(-25px);
    box-shadow: 0 4px 12px rgba(255, 215, 0, 0.5);
}

footer{
    color: #aaa;
    height: auto;
    width: 96vw;
    border-radius: 10px;
    box-shadow: -1px -2px 10px rgba(255, 215, 0, 0.5);
}
footer ul{
    list-style-type: none;
    padding: 30px 20px 20px 0px;
    margin :5px;
}
footer li{
    color: #aaa;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}
footer a{
    text-decoration: none;
    color: #aaa;
}
footer p {
    font-size: 0.9em;
    position: relative;
    bottom: 0;
    text-align: center;
}
.links{
    display: flex;
    justify-content: space-around;
}
.links i{
    margin:20px 20px 0px 0px;
}
.links img{
    height: 70px;
    width: 70px;
}

@media (max-width: 768px) {
    body{
        padding: 0;
        margin: 0;
    }
    header
    {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-evenly;
    }
    .logo {
        font-size: 2em;
        margin-left: 0;
    }
    .logo-img img{
        height: 70px;
        width: 70px;
    }
    .navbar {
        position: absolute;
        top: 15vh;
        height: 0px;
        width: 0px;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.95);
        display: none;
    }
    .navbar a {
        margin: 5px 0;
        font-size: 1.2em;
        color: white;
        background-color: #111;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-icon {
        display: block;
        position: absolute;
        right: 15px;
    }
    .menu-icon{
        visibility:visible;
        position: absolute;
        right: 15px;
        z-index: 0;
    }
    .menu-toggle{
        visibility: visible;
        position: absolute;
        right: 15px;
        z-index: -1;
    }
    .menu-toggle:checked + .menu-icon + .navbar {
        display: flex;
        flex-direction: column;
        position: relative;
        right: 0px;
        z-index: 4;
        right: -50px;
    }
    .menu-toggle:checked + .menu-icon +{
        position: relative;
        right: -20px;
    }
    .heading-section{
        height: auto;
        width: auto;
    }
    .slider-section {
        width: 96%;
        flex-direction: column;
        align-items: center;
    }
    .text-container {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: -1;
        top: 0;
    }
    .background {
        position:absolute;
        width: 0px;
        height: 0px;
        left: -200px;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
    .slider-section:hover .text-container {
        left: 0;
        opacity: 1;
    }

    .slider-section:hover .slider {
        z-index: 1;
    }

    .slider-movie {
        position: static;
        padding: 10px;
        width: 96%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 10px;
    }
    .slider img {
        border-radius: 10px;
    }
    .text-container {
        padding: 10px;
    }
    #watch {
        width: 100%;
    }
    
    .thumbnail {
        width: 98%;
        margin: 20px 0px;
        justify-content: space-around;
        gap: 10px;
    }
    .thumbnail img {
        width: 40vw;
        height: auto;
    }
    #sports img:hover {
        transform: translateY(-15px);
        box-shadow: 0 4px 12px rgba(255, 215, 0, 0.5);
    }
    footer{
        width: 90%;
    }
    footer .links {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    footer ul {
        flex: none;
        margin-bottom: 20px;
    }
    footer ul img {
        height: 60px;
        width: 60px;
    }
}
