* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: gold;
    text-align: center;
    margin: 15px 0;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 30px rgba(255, 215, 0, 0.5);
    width: 100%;
    max-width: 55vw;
}

label,p {
    font-size: 1.4em;
    font-weight: 650;
    margin: 10px 0;
    display: inline-block;
}

input[type="text"],input[type="email"],input[type="number"],input[type="tel"],input[type="message"],input[type="date"],input[type="time"],textarea,select {
    width: 98%;
    font-size: 1.4em;
    font-weight: 500;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 2px solid #ddd;
    background-color: #333;
    color: white;
}
input[type="date"],input[type="time"].date-time{
    width:20%;
}
input[type="radio"], input[type="checkbox"] {
    margin: 10px 5px;
    transform: scale(1.4);
}

#submit {
    background-color: #ffd700;
    border: none;
    margin-top: 5px;
    padding: 12px 24px;
    font-size: 1.4em;
    font-weight: 650;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

#submit:hover {
    background-color: gold;
    transform: scale(1.1);
}

hr {
    border: 1px solid #444;
    margin: 20px 0;
}